<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body >
<div th:fragment="foot">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/lib/bootstrap/js/popper.min.js}"></script>
    <script th:src="@{/lib/ck/ckeditor.js}"></script>
    <script th:src="@{/lib/ck/translations/zh.js}"></script>
    <script th:src="@{/lib/prism/prism.js}"></script>
<!--    <script th:src="@{/lib/highlight.pack.js}"></script>-->
<!--    <script>hljs.initHighlightingOnLoad();</script>-->

    <footer class="blog-footer mt-5">
        <p>典典博客开源地址 <a href="#">github</a> 预览 <a href="#">http://itbug.shop</a>.</p>
        <p>
            <a href="#">回到顶部</a>
        </p>
    </footer>
    <script type="application/javascript">
       $(function(){
           var token = $("meta[name='_csrf']").attr("content");
           var header = $("meta[name='_csrf_header']").attr("content");
           $(document).ajaxSend(function(e, xhr, options) {
               xhr.setRequestHeader(header, token);
           });
       });
    </script>

</div>
</body>
</html>