<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/head::header('典典博客')"></head>
<body style="background-color: white">
<div th:replace="/layout/nav::nav('首页')"></div>


<!--
    置顶的博客
-->

<div class="container">
    <div class="row mb-2">
        <div class="col-md-12">
            <h5>
                置顶的博客
            </h5>
        </div>
        <div class="col-md-6 col-xl-6" th:each="topBlog : ${top}">
            <div class="card flex-md-row mb-4 box-shadow h-md-200">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary"></strong>
                    <h3 class="mb-0">
                        <a class="text-dark" th:href="|/detail/${topBlog.id}|" th:text="${topBlog.title}"></a>
                    </h3>
                    <div class="mb-1 text-muted">Nov 12</div>
                    <p class="card-text mb-auto text-break max-line-2" th:text="${topBlog.sortContent}"></p>
                    <a th:href="|/detail/${topBlog.id}|">阅读全文</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--    博客列表-->

<main class="container" role="main">
    <div class="row">
        <div class="col-md-8 blog-main">
            <h3 class="pb-3 mb-4 border-bottom">最新发布</h3>
            <div class="blog-post" th:each="b,s:${list}">
                <h2 class="blog-post-title" th:text="${b.title}"></h2>
                <p class="blog-post-meta"><span th:text="${#dates.format(b.createTime,'yyyy-MM-dd')}"></span>,<a
                        href="#" th:text="${b.author}"></a></p>
                <p class="text-break" th:text="${b.sortContent}"></p>
                <p>
                    <a th:href="|/detail/${b.id}|">继续阅读</a>
                </p>
            </div>
        </div>
    </div>
</main>

<!--    博客列表End-->


<div th:replace="/layout/foot::foot"></div>
</body>
</html>