<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/head::header('典典博客')"></head>
<body style="background-color: white">
<div th:replace="/layout/nav::nav('首页')"></div>


<div class="container">
    <!--置顶轮播-->
    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" th:if="${#lists.size(top)!=0}">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div th:class="${state.index==0 ? 'carousel-item active':'carousel-item'}"
                     th:each="blog, state: ${top}">
                    <div class="col-md-6 px-0">
                        <h1 class="display-4 font-italic" th:text="${blog.title}"></h1>
                        <p class="lead my-3" th:text="${blog.sortContent}"></p>
                        <p class="lead mb-0"><a th:href="|/detail/${blog.id}|"
                                                class="text-white font-weight-bold">继续阅读</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--置顶轮播end-->

    <!--    博客列表-->

    <main class="container" role="main">
        <div class="row">
            <div class="col-md-8 blog-main">
                <h3 class="pb-3 mb-4 border-bottom">最新发布</h3>
                <div class="blog-post" th:each="b,s:${list}">
                    <h2 class="blog-post-title" th:text="${b.title}"></h2>
                    <p class="blog-post-meta"><span th:text="${#dates.format(b.createTime,'yyyy-MM-dd')}"></span>,<a
                            href="#" th:text="${b.author}"></a></p>
                    <p th:text="${b.sortContent}"></p>
                    <p>
                        <a th:href="|/detail/${b.id}|">继续阅读</a>
                    </p>
                </div>
            </div>
        </div>
    </main>

    <!--    博客列表End-->
</div>


<div th:replace="/layout/foot::foot"></div>
</body>
</html>