<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/head::header('发布文章')"></head>
<body style="background-color: white">
<div th:replace="/layout/nav::nav('发布文章')"></div>

<div>
    <div class="container">
        <form action="/write" method="post">
            <div class="form-group">
                <label for="titleId">博客标题</label>
                <input type="text" name="title" class="form-control" id="titleId" aria-describedby="emailHelp"
                       placeholder="输入文章标题" th:value="${updateBlog}!=null ? ${updateBlog.title}:''">
                <small id="emailHelp" class="form-text text-muted">建议1-30字内</small>
            </div>
            <input type="hidden" th:name="id" th:value="${updateBlog.id}" th:if="${updateBlog}!=null" />
            <input type="hidden" th:name="sortContent" th:value="${updateBlog.sortContent}" th:if="${updateBlog}!=null"/>
            <div class="form-group">
                <label for="editor">博客正文</label>
                <textarea id="editor" class="col-xs-12">
                </textarea>
            </div>
            <input th:name="${_csrf.getParameterName()}" th:value="${_csrf.getToken()}" type="hidden">
            <input th:name="content" type="hidden">

            <div class="form-group">
                <label for="titleId">选择博客位置: </label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="location" id="inlineRadio1" value="3" checked>
                    <label class="form-check-label" for="inlineRadio1">普通列表中</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="location" id="inlineRadio2" value="1">
                    <label class="form-check-label" for="inlineRadio2">置顶轮播图中</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="location" id="inlineRadio3" value="2">
                    <label class="form-check-label" for="inlineRadio3">置顶卡片中 (只能放两个)</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">发布文章</button>
        </form>
    </div>
</div>


<div th:replace="/layout/foot::foot"></div>
<script th:inline="javascript">
    var hasBlog = [[${hasBlog}]];
    var blog = [[${updateBlog}]];
    ClassicEditor.create(document.querySelector('#editor'), {

        toolbar: {
            items: [
                'heading',
                '|',
                'bold',
                'italic',
                'link',
                'bulletedList',
                'numberedList',
                '|',
                'indent',
                'outdent',
                '|',
                'imageUpload',
                'blockQuote',
                'insertTable',
                'mediaEmbed',
                'undo',
                'redo',
                'code',
                'codeBlock',
                'fontBackgroundColor',
                'exportPdf',
                'exportWord',
                'fontColor',
                'fontSize',
                'fontFamily',
                'highlight',
                'horizontalLine',
                'removeFormat',
                'subscript',
                'superscript',
                'strikethrough',
                'todoList',
                'underline'
            ]
        },
        language: 'zh-cn',
        image: {
            toolbar: [
                'imageTextAlternative',
                'imageStyle:full',
                'imageStyle:side'
            ]
        },
        table: {
            contentToolbar: [
                'tableColumn',
                'tableRow',
                'mergeTableCells',
                'tableCellProperties',
                'tableProperties'
            ]
        },
        codeBlock :{
            languages:[
                { language: 'plaintext', label: 'Plain text' }, // The default language.
                { language: 'c', label: 'C' },
                { language: 'cs', label: 'C#' },
                { language: 'cpp', label: 'C++' },
                { language: 'css', label: 'CSS' },
                { language: 'diff', label: 'Diff' },
                { language: 'html', label: 'HTML' },
                { language: 'java', label: 'Java' },
                { language: 'javascript', label: 'JavaScript' },
                { language: 'php', label: 'PHP' },
                { language: 'python', label: 'Python' },
                { language: 'ruby', label: 'Ruby' },
                { language: 'typescript', label: 'TypeScript' },
                { language: 'xml', label: 'XML' },
                { language: 'dart', label: 'Dart' }
            ]
        },
        licenseKey: '',
        ckfinder: {
            uploadUrl: '/ckeditor/upload/image'
        },

    })
        .then(editor => {
            window.editor = editor;
            var html = window.editor.getData();
            $("input[name='content']").val(html);
            if(hasBlog){
                editor.setData(blog.content);
                $("input[name='content']").val(blog.content);
            }
            editor.model.document.on('change:data', () => {
                html = window.editor.getData();
                if (html == "") {
                    html = "<p></p>";
                }
                $("input[name='content']").val(html);

                //图片上传
                const doc = editor.model.document;
                const changes = doc.differ.getChanges();

                for (const entry of changes) {
                    if (entry.type === 'insert' && entry.name === 'image') {
                        const item = entry.position.nodeAfter;

                        // Check if the image element still has upload id.
                        const uploadId = item.getAttribute('uploadId');
                        const uploadStatus = item.getAttribute('uploadStatus');

                        if (!uploadId && !uploadStatus) {
                            CatchRemoteImage(editor, item);
                        }
                    }
                }
            });

        })
        .catch(error => {
            console.error('There was a problem initializing the editor.', error);
        });

</script>
</body>
</html>