<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/head::header('发布文章')"></head>
<body style="background-color: white">
<div th:replace="/layout/nav::nav('发布文章')"></div>

<div>
    <div class="container">
        <form action="/write" method="post">
            <div class="form-group">
                <label for="titleId">博客标题</label>
                <input type="text" name="title" class="form-control" id="titleId" aria-describedby="emailHelp"
                       placeholder="输入文章标题">
                <small id="emailHelp" class="form-text text-muted">建议1-30字内</small>
            </div>
            <div class="form-group">
                <label for="editor">博客正文</label>
                <div id="editor" class="col-xs-12">

                    <h2>前言</h2>
                    <p>提示：这里可以添加本文要记录的大概内容：
                        例如：随着人工智能的不断发展，机器学习这门技术也越来越重要，很多人都开启了学习机器学习，本文就介绍了机器学习的基础内容。</p>
                    <hr />
                    <p>提示：以下是本篇文章正文内容，下面案例可供参考</p>
                    <h1>一、pandas是什么？</h1>
                    <p>示例：pandas 是基于NumPy 的一种工具，该工具是为了解决数据分析任务而创建的。</p>
                    <h1>二、使用步骤</h1>
                    <h3>1.引入库</h3>
                    <p>代码如下（示例）：</p>
                    <pre data-language="Plain text" spellcheck="false">import numpy as np import pandas as pd import matplotlib.pyplot as plt import seaborn as sns import warnings warnings.filterwarnings('ignore') import ssl ssl._create_default_https_context = ssl._create_unverified_context </pre>
                    <h3>2.读入数据</h3>
                    <p>代码如下（示例）：</p>
                    <pre data-language="Plain text" spellcheck="false">data = pd.read_csv( 'https://labfile.oss.aliyuncs.com/courses/1283/adult.data.csv') print(data.head()) </pre>
                    <p>该处使用的url网络请求的数据。</p>
                    <hr />
                    <h1>总结</h1>
                    <p>提示：这里对文章进行总结：
                        例如：以上就是今天要讲的内容，本文仅仅简单介绍了pandas的使用，而pandas提供了大量能使我们快速便捷地处理数据的函数和方法</p>
                </div>
            </div>
            <input th:name="${_csrf.getParameterName()}" th:value="${_csrf.getToken()}" type="hidden">
            <input th:name="content" type="hidden">

            <div class="form-group">
                <label for="titleId">选择博客位置: </label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="location" id="inlineRadio1" value="3" checked>
                    <label class="form-check-label" for="inlineRadio1">普通列表中</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="location" id="inlineRadio2" value="1">
                    <label class="form-check-label" for="inlineRadio2">置顶轮播图中</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="location" id="inlineRadio3" value="2">
                    <label class="form-check-label" for="inlineRadio3">置顶卡片中 (只能放两个)</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">发布文章</button>
        </form>
    </div>
</div>


<div th:replace="/layout/foot::foot"></div>
<script type="application/javascript">
    ClassicEditor.create(document.querySelector('#editor'), {

        toolbar: {
            items: [
                'heading',
                '|',
                'bold',
                'italic',
                'link',
                'bulletedList',
                'numberedList',
                '|',
                'indent',
                'outdent',
                '|',
                'imageUpload',
                'blockQuote',
                'insertTable',
                'mediaEmbed',
                'undo',
                'redo',
                'code',
                'codeBlock',
                'fontBackgroundColor',
                'exportPdf',
                'exportWord',
                'fontColor',
                'fontSize',
                'fontFamily',
                'highlight',
                'horizontalLine',
                'removeFormat',
                'subscript',
                'superscript',
                'strikethrough',
                'todoList',
                'underline'
            ]
        },
        language: 'zh-cn',
        image: {
            toolbar: [
                'imageTextAlternative',
                'imageStyle:full',
                'imageStyle:side'
            ]
        },
        table: {
            contentToolbar: [
                'tableColumn',
                'tableRow',
                'mergeTableCells',
                'tableCellProperties',
                'tableProperties'
            ]
        },
        codeBlock :{
            languages:[
                { language: 'plaintext', label: 'Plain text' }, // The default language.
                { language: 'c', label: 'C' },
                { language: 'cs', label: 'C#' },
                { language: 'cpp', label: 'C++' },
                { language: 'css', label: 'CSS' },
                { language: 'diff', label: 'Diff' },
                { language: 'html', label: 'HTML' },
                { language: 'java', label: 'Java' },
                { language: 'javascript', label: 'JavaScript' },
                { language: 'php', label: 'PHP' },
                { language: 'python', label: 'Python' },
                { language: 'ruby', label: 'Ruby' },
                { language: 'typescript', label: 'TypeScript' },
                { language: 'xml', label: 'XML' },
                { language: 'dart', label: 'Dart' }
            ]
        },
        licenseKey: '',
        ckfinder: {
            uploadUrl: '/ckeditor/upload/image'
        }

    })
        .then(editor => {
            window.editor = editor;
            var html = window.editor.getData();
            $("input[name='content']").val(html);
            editor.model.document.on('change:data', () => {
                html = window.editor.getData();
                if (html == "") {
                    html = "<p></p>";
                }
                $("input[name='content']").val(html);

                //图片上传
                const doc = editor.model.document;
                const changes = doc.differ.getChanges();

                for (const entry of changes) {
                    if (entry.type === 'insert' && entry.name === 'image') {
                        const item = entry.position.nodeAfter;

                        // Check if the image element still has upload id.
                        const uploadId = item.getAttribute('uploadId');
                        const uploadStatus = item.getAttribute('uploadStatus');

                        if (!uploadId && !uploadStatus) {
                            CatchRemoteImage(editor, item);
                        }
                    }
                }
            });

        })
        .catch(error => {
            console.error('There was a problem initializing the editor.', error);
        });

</script>
</body>
</html>